*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#d2dec5;
    background-image: url("Meme.jpeg");
    background-repeat: no-repeat;
}
h1{
    color: green;
    position: fixed;
    margin-left: 40rem;
}
nav{
    background-color: green;
    height: 2.8rem;
    width: 100vw;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    position: relative;
    top: 0.8rem;
}
a{
    text-decoration: none;
    color: black;
}
.parent-box{
    background-color: green;
    height: 25rem;
    width: 25rem;
    border-radius: 2rem;
    position: fixed;
    left: 850px;
    top:150px;
}
.close-btn{
    text-align: center;
    position: relative;
    top: 2rem;
    font-size: 1.7rem;
}
.cross{
    background-color: green;
    border: none;
}
.child-box1{
    display: flex;
    justify-content: space-between;
    gap: -1rem;
}
.box{
    margin: auto;
    margin-top: 4.5rem;
    gap: 0.6rem;
}
.eye{
    display: flex;
    gap: 4rem;
    margin-top: 0.7rem;
}
.box-1{
    background-color:white;
    height:8rem;
    width: 6rem;
    border-radius: 50%;
    left: 2rem;
    position: relative;
    opacity: 1;
    display: flex;
}
.password:focus ~ .eye{
    opacity: 0;
}
.box-2{
    background-color: black;
    width: 5.4rem;
    height: 7rem; 
    border-radius: 50%;
    position: absolute;
    bottom: 0.3rem;
    left: 0.2rem;
}
.box-3{
    background-color: white;
    width: 2.5rem;
    height: 2.9rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0.4rem;
    left: 1.4rem;
}
input{
    border-radius: 2rem;
    border: none;
    width: 10rem;
    height: 1.5rem;
    text-align: center;
}
.btn{
    background-color: #13691e;
    margin-left: 7rem;
    height: 6rem;
    width: 11rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    z-index: 1;
}
.btn:focus{
    animation: move 0.2s ease-in-out infinite;
}
@keyframes move{
    0%{transform:translate(0)}
    50%{transform:translate(20px)}
    100%{transform:translate(0)}
}
.close-btn:active ~ .child-box1 .box-2{
    height:8rem;
    width:6rem;
    margin-left: -2rem;
}

